<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main>
      <a name="top"></a>
      <article>
        <header>
          <hgroup>
            <h3>Home Page Contents</h3>
            <h5>Showing Most Recent Entries First</h5>
          </hgroup>
        </header>
        {{#each (reverse chapter.data)}}
        <section>
          {{#isAbove @index 1}}<a href="#top" style="float: right;"><small>top</small></a>{{/isAbove}}
          <h2>Chapter {{meta.sectionNumber}}</h2>
          <ul>
            {{#each (reverse data)}}
            <li>
              <hgroup>
                <h3><a name="{{meta.id}}" href="{{meta.id}}.html">{{meta.title}}</a></h3>
                <h6>Written {{meta.timestamp}}</h6>
              </hgroup>
            </li>
            {{/each}}
          </ul>
        </section>
        {{/each}}
      </article>
    </main>
    {{>footer}}
  </body>
</html>
