<!doctype html>
<html lang="en">
<head>
  {{>head}}
</head>
  <body>
    <main>
      <article>


          <header>
            <hgroup>
              <h1>{{meta.title}}</h1>
              <h6>
                Written {{meta.timestamp}}
              </h6>
            </hgroup>
          </header>

          {{{data.html}}}

      </article>
    </main>


    <footer class="no-print">

        <nav>
          <menu>

            {{#unless meta.isOldest}}
            <li><a href="{{meta.olderId}}.html">Go To Older Poem</a></li>
            {{/unless}}
            {{#if meta.isOldest}}
            <li><a href="{{meta.newestId}}.html">Jump To Newest Poem</a></li>
            {{/if}}

            {{#unless meta.isNewest}}
            <li><a href="{{meta.newerId}}.html">Go To Newer Poem</a></li>
            {{/unless}}
            {{#if meta.isNewest}}
            <li><a href="{{meta.oldestId}}.html">Jump To Oldest Poem</a></li>
            {{/if}}

            <li><a href="index.html#{{meta.id}}">Home Page</a></li>
            <li><a href="toc.html#{{meta.id}}">Table of Contents</a></li>
          </menu>
        </nav>

        <section>
          {{#if meta.isOldest}}
          <p><small>Note: You are reading the oldest poem.</small></p>
          {{/if}}
          {{#if meta.isNewest}}
          <p><small>Note: You are reading the most recent poem.</small></p>
          {{/if}}
        </section>

    </footer>


  </body>
</html>
