<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main>
      <article>
        <header>
          <h1>Table of Contents</h1>
          <h5>In Chronological Order</h5>
        </header>
        {{#each chapter.data}}
        <section>
          <h2>Chapter {{meta.sectionNumber}}</h2>
          <ul>
            {{#each data}}
            <li>
              <hgroup>
                <h3><a name="{{meta.id}}" href="{{meta.id}}.html">{{meta.title}}</a></h3>
                <h6>Written {{meta.timestamp}}</h6>
              </hgroup>
            </li>
            {{/each}}
          </ul>
        </section>
        {{/each}}
      </article>
    </main>
    {{>footer}}
  </body>
</html>
