<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="container gr-0">
      {{>header}}

      <main>

        <header class="no-print gr-1">
          <nav>
            <menu>
              {{#unless content.isOldest}}<li><a href="{{content.olderId}}.html" class="a2">Older</a></li>{{/unless}}
              {{#unless content.isNewest}}<li><a href="{{content.newerId}}.html" class="a2">Newer</a></li>{{/unless}}
              <!-- <li><a href="index.html#{{content.id}}" class="a2">Home</a></li> -->
            </menu>
          </nav>
        </header>

          <article class="gr-1">

            <header>
              <hgroup>
                <h1>{{content.title}}</h1>
                <h2>{{content.timestamp}}</h2>
                <h3>{{content.author}}</h3>
              </hgroup>
            </header>

            <article class="gr-4 color-2">
              {{#if content.image}}
              <section>
                <figure>
                  <img src="image/md-{{content.image}}">
                </figure>
              </section>
              {{/if}}

              {{#if content.audio}}
              <section class="no-print">
                <p><a href="audio/{{content.audio}}" class="a2">Audio Version</a></p>
              </section>
              {{/if}}

              {{{content.data.html}}}
            </article>



          </article>

      </main>

      <footer class="no-print gr-1">
        <nav>

          <!-- <section class="text-center">
            {{#if content.isOldest}}
            <p><small>Note: You are reading the oldest poem.</small></p>
            {{/if}}
            {{#if content.isNewest}}
            <p><small>Note: You are reading the most recent poem.</small></p>
            {{/if}}
          </section> -->

          <menu>
            {{#unless content.isOldest}}
            <li><a href="{{content.olderId}}.html" class="a2">Go To Older Poem</a></li>
            {{/unless}}
            {{#if content.isOldest}}
            <li><a href="{{content.newestId}}.html" class="a2">Jump To Newest Poem</a></li>
            {{/if}}

            {{#unless content.isNewest}}
            <li><a href="{{content.newerId}}.html" class="a2">Go To Newer Poem</a></li>
            {{/unless}}
            {{#if content.isNewest}}
            <li><a href="{{content.oldestId}}.html" class="a2">Jump To Oldest Poem</a></li>
            {{/if}}
          </menu>

        </nav>
      </footer>

      {{>footer}}

  </body>
</html>
