<div class="card bg-dark text-light">
  <div class="card-body">
    <h5 class="card-title">Chapter {{sectionNumber}}</h5>
    <p class="card-text">
      <div class="small">Updated {{#first data}}{{timestamp}}{{/first}}</div>
      {{#if isOldest}}<div class="small text-muted">This is the oldest chapter in the book.</div>{{/if}}
      {{#if isNewest}}<div class="small text-muted">This is the latest chapter in the book.</div>{{/if}}
    </p>
  </div>
  <ul class="list-group list-group-flush">

    {{#each data}}
      <li class="list-group-item bg-dark text-light">


          {{#if image}}<div><a href="{{id}}.html" class="text-reset text-decoration-none mr-4 mb-1 float-left"><img src="image/ss-{{image}}" class="rounded border border-primary"></a></div>{{/if}}

          <div><a href="{{id}}.html" class="text-reset text-decoration-none">#{{counter}}: {{title}}</a></div>

          <div class="small text-muted">{{timestamp}}</div>

          {{#if audio}}<div><a href="audio/{{audio}}" class="card-link">Listen</a> <a href="{{id}}.html" class="card-link">Read</a></div>{{/if}}


      </li>
    {{/each}}
  </ul>
</div>
