<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<title>{{title}}</title>
<meta name="author" content="{{author}}">
<meta name="description" content="{{title}}: {{subtitle}} by {{author}}">
<meta name="generator" content="https://github.com/catpea/elderflower">
<link rel="canonical" href="{{canonical}}">
<meta name="robots" content="index, follow">

<!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> -->

<!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@700&family=Patrick+Hand&display=swap" rel="stylesheet"> -->

<style media="screen">
  /* body {font-family: 'Lato', sans-serif;}
  h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif;}
  a, summary {font-family: 'Patrick Hand', cursive;} */
  /* small, .small {
    font-family: 'Lato', sans-serif;
  } */
</style>

<!-- <link rel="stylesheet" href="css/reset/normalize.css"> -->
<!-- <link rel="stylesheet" href="css/sanitize/sanitize.css"> -->
<!-- <link rel="stylesheet" href="css/catpea/starter.css"> -->
<!-- <link rel="stylesheet" href="css/wise/wise.css"> -->
<!-- <link rel="stylesheet" href="css/print/gutenberg.min.css" media="print"> -->
<!-- <link rel="stylesheet" href="css/print/custom-print.css" media="print"> -->
<!-- <link rel="stylesheet" href="css/stylesheet.css" media="screen"> -->

<link rel="stylesheet" href="css/highlight/solarized-dark.css">
<!-- <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/stylesheet/stylesheet.css">
