<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  {{>nav}}

  <main class="container">

    <div class="row g-4 mb-5">
      <div class="col p-5">
        <div class="card shadow bg-gradient-{{name}}{{#if classes}} {{classes}}{{/if}}">
          <div class="card-body">
            <h5 class="card-title">Card {{classes}}</h5>
            <p class="card-text">
            <h1>{{options.title}} Starter Template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            </p>
            <a href="#" class="btn btn-primary shadow">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5 bg-dark rounded shadow-inset">
      {{#each data.color.context}}
        <div class="col p-5">
          <div class="card shadow bg-{{name}}{{#if classes}} {{classes}}{{/if}}">
            <div class="card-body">
              <h5 class="card-title">Card {{classes}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary shadow">Go somewhere</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5 bg-dark rounded shadow-inset">
      {{#each data.color.context}}
        <div class="col p-5">
          <div class="card shadow bg-gradient-{{name}}{{#if classes}} {{classes}}{{/if}}">
            <div class="card-body">
              <h5 class="card-title">Card {{classes}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary shadow">Go somewhere</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>


    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
      {{#each data.color.context}}
        <div class="col p-5">
          <div class="card shadow bg-gradient-{{name}}{{#if classes}} {{classes}}{{/if}}">
            <img src="image/{{name}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card {{classes}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary shadow">Go somewhere</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>


    <div class="row g-4 mb-5">
      <div class="col p-5">

        <div class="alert alert-success shadow-inset-lg" role="alert">
          <h4 class="alert-heading">Additional Classes You Should Know About</h4>
          <div>
            <p>shadow-<strong>inset</strong>-sm</p>
            <p>shadow-<strong>inset</strong></p>
            <p>shadow-<strong>inset</strong>-lg</p>
            {{#each data.color.context}}
              <p>
                bg-<strong>gradient</strong>-{{name}}{{#if classes}} {{classes}}{{/if}}
              </p>
            {{/each}}
          </div>
          <hr>
          <p class="mb-0">Additional classes use the utilities api, by naming the additional class as the built-in one you override the built-in thus you are granted the ability to replace built-in classes with the additional ones.</p>
        </div>


      </div>
    </div>

  </main><!-- /.container -->


  {{>footer}}
  {{>debug}}
  {{>foot}}
</body>

</html>
