<a name="{{id}}"></a>
<div class="card shadow mb-5">
  <div class="card-header">
      <a href="{{id}}.html" class="text-reset">Latest Poem</a>
  </div>
  <a href="{{id}}.html" class="text-reset"><img src="image/md-{{image}}" class="card-img" alt="{{title}} Illustration"></a>
  <div class="card-body">
    <h5 class="card-title"><a href="{{id}}.html" class="text-reset">{{title}}</a></h5>
    <a href="/audio/{{audio}}" class="btn btn-outline-primary btn-sm">Listen</a>
    <a href="{{id}}.html" class="btn btn-outline-primary btn-sm">Read</a>
  </div>
  <div class="card-footer text-muted small">
    Written {{timestamp}}
  </div>
</div>
