<div class="card mb-3">
  <div class="row g-0">


    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-0"><a href="{{id}}.html" class="text-reset">{{title}}</a></h5>
        <h6 class="card-text small text-muted mb-2">Written {{timestamp}}</h6>
        <p class="card-text"><a href="{{id}}.html" class="text-reset">{{sentence 2 data.text}}..</a></p>
      </div>
      <div class="card-body">
        <a href="audio/{{audio}}" class="btn btn-outline-primary mb-2">Listen</a>
        <a href="{{id}}.html" class="btn btn-outline-primary mb-2">Read</a>
      </div>
    </div>

    <div class="col-md-4">
      <a href="{{id}}.html" class="text-reset"><img src="image/md-{{image}}" class="card-img" alt="{{title}} Illustration"></a>
    </div>


  </div>
</div>
