<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <a href="{{id}}.html"><img src="{{cover}}" class="card-img" alt="{{title}} Cover"></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-0"><a href="{{id}}.html" class="text-reset">More {{title}}</a></h5>
        <h6 class="card-text small text-muted mb-2">Updated {{#first recent}}{{timestamp}}{{/first}}</h6>

        <p class="card-text">
          <a href="{{id}}.html" class="text-reset">{{title}}</a> has a total of {{count all}} poems.
          Visit <a href="{{id}}.html" class="text-reset">{{title}} Home</a> for a full listing.
        </p>

        <a href="{{id}}.html" class="btn btn-outline-primary mb-2">{{title}} Home</a>
        <a href="{{audio}}" class="btn btn-outline-primary mb-2">Listen to Audio Book</a>
      </div>
    </div>
  </div>
</div>
